<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="Det-P.css">
    <link rel="icon" href="{{ asset('images/logo6.png') }}">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous" ></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Pemesanan | Dasbor Pendaki</title>
</head>
<body>
    <nav class="navbar navbar-light" style="background-color: #12372A">
        <div class="container">
            <a class="navbar-brand" href="/">
                <span class="navbar-toogle-icon">
                    <img class="btn-logo-home" src="{{ asset('images/logo6.png') }}" alt="logo" width="140" height="140">
                </span>
            </a>
        </div>
    </nav>

    <div class="tabel">
        <b> Daftar Pemesanan </b>
        <div>
            <table>
                <tr>
                    <th> Amir </th>
                    <th>
                        <i class="fa-solid fa-cart-shopping"></i>
                        2 Barang
                    </th>
                    <th>
                        <i class="fa-solid fa-cart-shopping"></i>
                        600K
                    </th>
                    <th class="detail">
                        >
                    </th>
                </tr>
            </table>
            <table>
                <tr>
                    <th> Amir </th>
                    <th>
                        <i class="fa-solid fa-cart-shopping"></i>
                        2 Barang
                    </th>
                    <th>
                        <i class="fa-solid fa-cart-shopping"></i>
                        600K
                    </th>
                    <th class="detail">
                        >
                    </th>
                </tr>
            </table>
            <table>
                <tr>
                    <th> Amir </th>
                    <th>
                        <i class="fa-solid fa-cart-shopping"></i>
                        2 Barang
                    </th>
                    <th>
                        <i class="fa-solid fa-cart-shopping"></i>
                        600K
                    </th>
                    <th class="detail">
                        >
                    </th>
                </tr>
            </table>
            <table>
                <tr>
                    <th> Amir </th>
                    <th>
                        <i class="fa-solid fa-cart-shopping"></i>
                        2 Barang
                    </th>
                    <th>
                        <i class="fa-solid fa-cart-shopping"></i>
                        600K
                    </th>
                    <th class="detail">
                        >
                    </th>
                </tr>
            </table>
            <table>
                <tr>
                    <th> Amir </th>
                    <th>
                        <i class="fa-solid fa-cart-shopping"></i>
                        2 Barang
                    </th>
                    <th>
                        <i class="fa-solid fa-cart-shopping"></i>
                        600K
                    </th>
                    <th class="detail">
                        >
                    </th>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <a href="" class="prev"> < Previous </a>
        <a href="" class="next"> Next ></Next> </a>
    </div>
    <footer class="footer">
        <div class="container">
            <h1 class="title-footer">Dasbor Pendaki</h1>
            <p class="desc-title">Platform untuk para pendaki sejati yang ingin menentukan destinasi pendakian dengan tepat.</p>

            <p class="email-footer"><i class="far fa-envelope"></i> : DaKi@gmail.com</p>
            <div class="socmed">
                <h2>Reach Us</h2>
                <a href="https://facebook.com/DaKi"><i class="fab fa-facebook-f"></i></a>
                <a href="https://instagram.com/daki"><i class="fab fa-instagram"></i></a>
            </div>
            <p class="copyright-footer">DaKi Company &copy;2021</p>
        </div>
    </footer>
</body>
</html>