<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Info-Toko-Admin.css">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous" ></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ asset('images/logo6.png') }}">
    <title> Info Toko </title>
</head>
<body>
    <nav class="navbar-navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/">
                <span class="navbar-toogle-icon">
                    <img class="btn-logo-home" src="{{ asset('images/logo6.png') }}" alt="logo" width="140" height="140">
                </span>
            </a>
            <span class="menu">
                <span>
                    <a class="nav-link" href="/home">Home</a>
                </span>
                <span id="nav">|</span>
                <span>
                    <b><i>Admin</i></b>
                </span>
            </span>
        </div>
    </nav>
    <center>
        <h2>Info Toko</h2>
    </center>
    <div class="content">
        <div class="button">
            <ul class="left">
                <button>Edit</button>
            </ul>
        </div>
        <table style="margin-left: auto; margin-right: auto;">
            <tr>
                <td colspan="2" style="text-align: center; padding-bottom: 30px;"><img src="cam.png" alt="Gambar Toko"></td>
            </tr>
            <tr>
                <td>Nama Toko</td>
                <td>
                    <input type="text">
                </td>
            </tr>
            <tr>
                <td>Lokasi</td>
                <td>
                    <input type="text">
                </td>
            </tr>
            <tr>
                <td>Deskripsi Toko</td>
                <td>
                    <input type="text" style="height: 70px;">
                </td>
            </tr>
        </table>
    </div>
    <footer class="footer">
        <div class="container">
            <h1 class="title-footer">Dasbor Pendaki</h1>
            <p class="desc-title">Platform untuk para pendaki sejati yang ingin menentukan destinasi pendakian dengan tepat.</p>

            <p class="email-footer"><i class="far fa-envelope"></i> : DaKi@gmail.com</p>
            <div class="socmed">
                <h2>Reach Us</h2>
                <a href="https://facebook.com/DaKi"><i class="fab fa-facebook-f"></i></a>
                <a href="https://instagram.com/daki"><i class="fab fa-instagram"></i></a>
            </div>
            <p class="copyright-footer">DaKi Company &copy;2021</p>
        </div>
    </footer>
</body>
</html>