<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="Konfirm_Pembayaran.css">
    <link rel="icon" href="{{ asset('images/logo6.png') }}">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous" ></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Konfirmasi Pembayaran | Admin</title>
</head>
<body>
    <nav class="navbar navbar-light" style="background-color: #12372A">
        <div class="container">
            <a class="navbar-brand" href="/">
                <span class="navbar-toogle-icon">
                    <img class="btn-logo-home" src="{{ asset('images/logo6.png') }}" alt="logo" width="140" height="140">
                </span>
                <span class="has-login">
                    <i class="fa-thin fa-user"></i>
                </span>
            </a>
        </div>
    </nav>
    <h2>Konfirmasi Pembayaran</h2>
    <div>
        <img src="user.jpg" alt="user" class="user-pho">
    </div>
    <img src="Bukti.jpg" alt="Bukti Pembayaran" class="bukti-pho">
    <div class="content">

        <span class="tools" style="border-bottom-left-radius: 10px; border-top-left-radius: 10px;">
            <div>
                <img src="alat.jpg" alt="Barang">
            </div>
            <div><b>Tenda</b></div>
            <div><i class="fa-solid fa-money-bill-1-wave"></i>400K</div>
        </span>
        <span class="tools">
            <div>
                <img src="alat.jpg" alt="Barang">
            </div>
            <div><b>Sepatu Gunung</b></div>
            <div><i class="fa-solid fa-money-bill-1-wave"></i>200K</div>
        </span>
        <span class="tools" style="border-bottom-right-radius: 10px; border-top-right-radius: 10px;">
            <div>
                <img src="alat.jpg" alt="Barang">
            </div>
            <div><b>Senter</b></div>
            <div><i class="fa-solid fa-money-bill-1-wave"></i>100K</div>
        </span>
    </div>
    <div class="button">
        <a href="" class="del"> Pembayaran Gagal</a>
        <a href="" class="acc"> Pembayaran Diterima</Next> </a>
    </div>
    <footer class="footer">
        <div class="container">
            <h1 class="title-footer">Dasbor Pendaki</h1>
            <p class="desc-title">Platform untuk para pendaki sejati yang ingin menentukan destinasi pendakian dengan tepat.</p>

            <p class="email-footer"><i class="far fa-envelope"></i> : DaKi@gmail.com</p>
            <div class="socmed">
                <h2>Reach Us</h2>
                <a href="https://facebook.com/DaKi"><i class="fab fa-facebook-f"></i></a>
                <a href="https://instagram.com/daki"><i class="fab fa-instagram"></i></a>
            </div>
            <p class="copyright-footer">DaKi Company &copy;2021</p>
        </div>
    </footer>
</body>
</html>