@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.menu{
  margin: 0px 20px;
  vertical-align: middle;
}
.menu a{
  text-decoration: none;
  color: #C9DB43;
}
.menu a:hover{
  text-decoration: none;
  color: #9caa35;
}
.menu img{
  position: relative;
  float: right;
}
.title{
  margin-top: 90px;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

table{
  margin: 0 auto;
  text-align: center;
  width: 50%;
  height: 400px;
  background-color: #247257;
  border-radius: 10px;
  padding: 20px;
}
td{
  font-size: 20px;
  color: white;
}
td img{
  width: 200px;
  height: 210px;
  border-radius: 10px;
}
.data, .answer{
  text-align: justify;
  padding: 0px 20px;
}
.data{
  font-weight: bold;
}
.navigation{
  margin-top: 90px;
}
.back{
  margin-left: 90px;
  text-decoration: none;
  background-color: #247257;
  width: 120px;
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  color: black;
}
.back:hover{
  margin-left: 90px;
  text-decoration: none;
  background-color: #174736;
  width: 120px;
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  color: white;
}
.next{
  float: right;
  text-decoration: none;
  margin-right: 90px;
  background-color: #C9DB43;
  width: 120px;
  border-radius: 10px;
  text-align: center;
  color: black;
}
.next:hover{
  float: right;
  text-decoration: none;
  margin-right: 90px;
  background-color: #9caa33;
  width: 120px;
  border-radius: 10px;
  text-align: center;
  color: white;
}

.footer{
    z-index: -1 !important;
    background-color: #247257;
    padding-bottom: 20%;
    padding-top: 5%;
    margin-top: 100px;
  }
  .title-footer{
    text-align: center;
    color: white;
  }
  .desc-title{
    text-align: center;
    color: white;
  }
  .email-footer{
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 5%;
  }
  .phone-footer{
    text-align: center;
    color: white;
    font-size: 20px;
  }
  .diamond-text{
    text-align: center;
    font-size: 25px;
    margin-top: 7%;
    color: white;
  }
  .diamond-text:hover{
    text-align: center;
    font-size: 25px;
    margin-top: 7%;
    color:#C9DB43;
  }
  .socmed{
    text-align: center;
    margin-top: 2%;
    color: white;
  }
  .socmed a{
    margin: 5px;
    font-size: 25px;
    color: white;
  }
  .socmed a:hover{
    color: #C9DB43;
  }
  .copyright-footer{
    text-align: center;
    color: white;
    margin-bottom: -24%;
    margin-top: 5%;
    font-style: italic;
  }

  @media(max-width: 700px){
    td{
      font-size: 17px;
      color: white;
    }
  }

  @media(max-width: 500px){
    td{
      font-size: 15px;
      color: white;
    }
    .title{
      margin-top: 90px;
      margin-bottom: 50px;
      font-weight: bold;
      font-size: 30px;
      text-align: center;
    }
    .back{
      margin-left: 20px;
      text-decoration: none;
      background-color: #247257;
      width: 120px;
      display: inline-block;
      border-radius: 10px;
      text-align: center;
      color: black;
    }
    .back:hover{
      margin-left: 20px;
      text-decoration: none;
      background-color: #174736;
      width: 120px;
      display: inline-block;
      border-radius: 10px;
      text-align: center;
      color: white;
    }
    .next{
      float: right;
      text-decoration: none;
      margin-right: 20px;
      background-color: #C9DB43;
      width: 120px;
      border-radius: 10px;
      text-align: center;
      color: black;
    }
    .next:hover{
      float: right;
      text-decoration: none;
      margin-right: 20px;
      background-color: #9caa33;
      width: 120px;
      border-radius: 10px;
      text-align: center;
      color: white;
    }
  }