.navbar {
    background: none !important;
    position: absolute !important;
    width: 100%;
}
.header {
    text-align: center;
    color: #c9db43;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.548)),
        url("../images/penyewaan.jpg") !important;
    object-fit: cover;
    background-position: 50% 25% !important;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
    /* filter: brightness(10%); */
    padding: 20%;
    width: auto;
    height: 100%;
}
.header .head-title {
    margin-bottom: -20%;
}
.head-title h3 {
    font-size: 38px;
    text-align: center;
    margin-bottom: 5%;
}
table td {
    text-align: center;
}

#detail-user tr .data {
    text-align: left;
    /* padding: 1%; */
    width: 23%;
}
#detail-user tr .detail-sewa {
    text-align: left;
    padding-left: 2%;
    /* padding: 1%; */
}

#status-sewa tr .data {
    text-align: left;
    /* padding: 1%; */
    width: 20%;
}
#status-sewa tr .detail-sewa {
    text-align: left;
    width: 50%;
    padding-left: 2%;
    /* padding: 1%; */
}

#status-sewa tr .button-update {
    text-align: center;
    width: 30%;
    padding-left: 2%;
    /* padding: 1%; */
}

#detail-transaksi {
    width: 100%;
    margin-top: 3%;
}
#detail-transaksi tr,
#detail-transaksi th,
#detail-transaksi td {
    border: 1px solid black;
    padding: 1%;
    text-align: center;
}
.data {
    margin-right: 2%;
}
#btn-pembayaran {
    background-color: #c9db43;
    border: none;
    padding: 2% !important;
    width: 75%;
    border-radius: 10px;
}
#btn-pembayaran:hover {
    background-color: #808b2a;
    color: white;
}
#btn-detail-penyewaan {
    background-color: #c9db43;
    border: none;
    padding: 2% !important;
    width: 75%;
    border-radius: 10px;
}
#btn-detail-penyewaan:hover {
    background-color: #808b2a;
    color: white;
}
.body-content {
    padding: 5%;
}
.box-container {
    background-color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 0px 0px 20px 20px;
}

@media (max-width: 768px) {
    .head-title h3 {
        font-size: 28px;
    }
}
/*End*/
