@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.navbar-navbar-light{
    background-image: url(bg_1.jpg); 
    height: 270px; 
    background-repeat: no-repeat; 
    background-size: cover;
}

.btn-logo-home{
    float: left;
    margin: 4%;
}

.menu{
    float: right;
    margin: 4%;
}

.menu span{
    margin: 0 10px;
    color: #C9DB43;
}

.menu a, #nav{
    color: white;
    text-decoration: none;
}

h2{
    color: #C9DB43;
    font-size: 0.7cm;
}

.content{
    margin-top: 100px;
    border: 2px black solid;
    width: 900px; 
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    margin-bottom: 100px;
    border-radius: 20px;
}

.left{
    margin-left: 65%;
    margin-bottom: 20px;
}

.button button{
    background-color: #12372A;
    width: 70px;
    height: 30px;
    color: white;
    border: #12372A;
    font-size: 15px;
    border-radius: 30px;
}

table input{
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 5px;
}

table img{
    width: 210px;
    height: 160px;
    border-radius: 50px;
}

.content table{
    margin-bottom: 100px;
}

.footer{
    z-index: -5 !important;
    background-color: #247257;
    padding-bottom: 23%;
    padding-top: 5%;
}
.title-footer{
    text-align: center;
    color: white;
}
.desc-title{
    text-align: center;
    color: white;
}
.email-footer{
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 5%;
}
.socmed{
    text-align: center;
    margin-top: 16%;
    color: white;
}
.socmed a{
    margin: 5px;
    font-size: 25px;
    color: white;
}
.socmed a:hover{
    color: #C9DB43;
}
.copyright-footer{
    text-align: center;
    color: white;
    margin-bottom: -25%;
    margin-top: 10%;
    font-style: italic;
}

@media(max-width: 906px){
    .content{
        margin-top: 100px;
        border: 2px black solid;
        width: 500px; 
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        margin-bottom: 100px;
        border-radius: 20px;
    }
    
    .left{
        margin-left: 80%;
        margin-bottom: 20px;
    }
    
    .button button{
        background-color: #12372A;
        width: 70px;
        height: 30px;
        color: white;
        border: #12372A;
        font-size: 15px;
        border-radius: 30px;
    }
    
    table input{
        margin-left: 50px;
        margin-top: 10px;
        border-radius: 5px;
    }
    
    table img{
        width: 190px;
        height: 140px;
        border-radius: 50px;
    }
    
    .content table{
        margin-bottom: 30px;
    }
}

@media(max-width: 412px){
    h2{
        font-size: 0.6cm;
    }

    .content{
        margin-top: 100px;
        border: 2px black solid;
        width: 300px; 
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        margin-bottom: 100px;
        border-radius: 20px;
    }
    
    .left{
        margin-left: 70%;
        margin-bottom: 20px;
    }
    
    .button button{
        background-color: #12372A;
        width: 70px;
        height: 30px;
        color: white;
        border: #12372A;
        font-size: 15px;
        border-radius: 30px;
    }
    
    table input{
        margin-left: 20px;
        margin-top: 10px;
        border-radius: 5px;
        width: 100px;
    }
    
    table img{
        width: 140px;
        height: 90px;
        border-radius: 50px;
    }
    
    .content table{
        margin-bottom: 30px;
    }
}

