
.navbar{
    background: none !important;
    position:absolute !important;
    width: 100%;
}
.header{
    text-align: center;
    color: #C9DB43;
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.548)), url('../images/penyewaan.jpg') !important;
    object-fit: cover;
    background-position: 50% 25% !important;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
    /* filter: brightness(10%); */
    padding: 20%;
    width:auto;
    height: 100%;
}
.header .head-title{
    margin-bottom: -20%;
}
.head-title h3{
    font-size: 38px;
    text-align: center;
    margin-bottom: 5%;
}
#detail-user tr .data{
    text-align: left;
    /* padding: 1%; */
    width: 23%;
}
#detail-user tr .detail-sewa{
    text-align: left;
    padding-left: 2%;
    /* padding: 1%; */
}

#detail-transaksi{
    width: 100%;
    margin-top: 3%;
}
#detail-transaksi tr , #detail-transaksi th, #detail-transaksi td {
    border: 1px solid black;
    padding: 1%;
    text-align: center;
}
.data{
    margin-right: 2%;
}
#btn-detail-penyewaan{
    background-color: #C9DB43;
    border: none;
    padding: 2% !important;
    width: 75%;
    border-radius: 10px;
}
#btn-detail-penyewaan:hover{
    background-color: #808b2a;
    color: white;
}
.body-content{
    padding:5%;
}
.box-container{
    background-color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 0px 0px 20px 20px;
}
.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
  }
  
  .rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
  }
  
  .rating label:last-child {
    position: static;
  }
  
  .rating label:nth-child(1) {
    z-index: 5;
  }
  
  .rating label:nth-child(2) {
    z-index: 4;
  }
  
  .rating label:nth-child(3) {
    z-index: 3;
  }
  
  .rating label:nth-child(4) {
    z-index: 2;
  }
  
  .rating label:nth-child(5) {
    z-index: 1;
  }
  
  .rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  .rating label .icon {
    float: left;
    color: transparent;
  }
  
  .rating label:last-child .icon {
    color: #000;
  }
  
  .rating:not(:hover) label input:checked ~ .icon,
  .rating:hover label:hover input ~ .icon {
    color: #09f;
  }
  
  .rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #000;
    text-shadow: 0 0 5px #09f;
  }

@media(max-width : 850px){
    .head-title h3{
        font-size: 32px;
    }
    #totalProduk{
        display: none;
    }
}
@media(max-width : 768px){
    .head-title h3{
        font-size: 28px;
    }
    #totalHarga{
        display: none;
    }
}
@media(max-width : 500px){
    .table{
        font-size: 12px;
    }
}
/*End*/