.header{
    height: 590px;
    margin-top: -5% !important;
    margin-bottom: 0 !important;
}
.btn-logo-home{
    width: 13%;
    height: 13%;
}
.navbar{
    background: #12372A !important;
    width: 100%;
    height: 15%;
    z-index: 999;
    border-radius: 0px 0px 20px 20px !important;
    background-color: #12372A !important;
}
.site-slider{
    padding-top: 6.5%;
    position: relative;
}
.site-slider .slider-btn .prev,
.site-slider .slider-btn .next{
    background-color: white;
    padding: 0.5rem 0.95rem;
    border-radius: 10rem;
    margin: 0 1rem;
    opacity: 0;
    transition: opacity 1s ease;
    top: 55%;
}
.site-slider:hover .slider-btn .prev,
.site-slider:hover .slider-btn .next{
    opacity: 1;
}
.right-0{
    right: 0;
}
.slick-dots{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    position: absolute;
    bottom: 0;
    right: 50%;
    left: 50%;
}
.slick-dots li{
    margin: 0 0.6rem;

}
.slick-dots button{
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    padding: 0;
    border: none;
    background-color: white;
    text-indent: -99999px;
    border-radius: 100%;
    
}
.slick-dots li.slick-active button{
    transform: scale(2);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.205);
}
.slider-one img{
    width: 100%;
    height: 507px;
    object-fit: cover;
    opacity: 0.7;
}
.banner2 img{
    object-position: 100% 2%;
}
.banner3 img{
    object-position: 100% 70%;
}
.banner4 img{
    object-position: 100% 100%;
}
.position-top{
    position: absolute;
    top: 50%;
}
.container-nav{
    /* padding: 1% !important; */
    /* margin-top: -1.5%; */
}
.nav-menu{
    margin-top: 1.5%;
}
.header .head-title{
    margin-bottom: -20%;
}
.head-title h3{
    text-align: center;
    font-size: 38px;
    color: #12372A;
}
.under-split{
    background-color: #12372A;
    color: #12372A;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}
.body-content{
    padding:2%;
}
.box-container{
    background-color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 0px 0px 20px 20px;
}
.list-element-toko{
    width: 100%;
}
.home_gambar_toko{
    width: 15%;
    height: 15%;
    position: relative;
    margin-top: auto;
    margin-bottom: 5%;
    border-radius: 10px;
    margin-right: 5%;
}
.list-toko{
    border-radius: 10px;
    padding:1%;
    min-height: 100px;
    max-height: 170px;
    margin-bottom: 3%;
    box-shadow: 2px 5px 5px rgb(0 0 0 / 0.2);
}
.list-toko:hover{
    box-shadow: 5px 5px 10px #12372A;
    cursor: pointer;
}
.list-toko h4{
    flex-direction: column !important;
    margin-top: 2%;
    font-size: 23px;
}
.list-toko .detail a{
    color: black;
}
.list-toko .detail h3{
    font-size: 25px;
    width: 125%;
}
.list-toko .wrap-list .detail{
    line-height: 35px;
    margin-top: 2%;
    margin-left: -2%;
    max-width: 25%;
    width: 25%;
    /* border: 2px solid black; */
}
.detail-other{
    padding: 6%;
    width: 50%;
    /* border: 2px solid black; */
}
.detail-other .jumlah-barang{
    padding: 0;
    margin-top: 3%;
    padding-right: 45%;
}
.detail-other .rating-toko{
    font-size: 18px;
    margin-top: 3%;
    color: #adc01c;
}
.btn-detail-toko{
    margin-left: auto;
    margin-top: 6%;
    font-size: 25px;
    color: black;
}
.btn-detail-toko:hover{
    color: #1c5e47;
}
.sidebar-left{
    box-shadow: 2px 5px 20px rgb(0 0 0 / 0.2);
    border-radius: 10px;
    padding: 2%;
    max-width: 25%;
    height: 800px;
    margin-right: 5%;
}
.sidebar-left h2{
    text-align: center;
    font-size: 25px;
    letter-spacing:2px
}

/*Search bar*/
.btn-search{
    background:none;
    border: none;
}
.search-bar{
    margin-top: 10%;
}
.search-bar .input-group span i{
    color: rgb(161, 159, 159);
}
.search-box{
    padding-left: 15%;
}
#search-addon{
    margin-left: 3%;
    position: absolute;
    margin-top: 3%;
    z-index: 5;
}
.location-title{
    margin-top: 10%;
    padding: 5%;
}
.location_form{
    display: flex;
    flex-direction: column;
}
.location_filter{
    display: flex;
}
.location_filter label{
    font-size: 20px;
}
.location_filter .location_name{
    margin-right: 10%;
    -ms-transform: scale(1.7); /* IE */
    -moz-transform: scale(1.7); /* FF */
    -webkit-transform: scale(1.7); /* Safari and Chrome */
    -o-transform: scale(1.7); /* Opera */
    transform: scale(1.7);
}
input[type=checkbox]:hover{
    cursor: pointer;
}
.material-icons:visited{
    color: white;
}
/*End*/