
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background-color: #12372A;
}
.navbar{
  border-radius: 0px 0px 20px 20px !important;
  background-color: #12372A !important;
  width: 100%;
  height: 20%;
}
.header-jumbotron{
  margin-top: 10% !important;
}
.btn-back{
  font-size: 30px;
  color: #12372A;
}
.btn-back:hover{
  color: #C9DB43;
}
.navbar button{
  outline: solid 1px #C9DB43;
  color: white;
  float: right;
  font-family: 'Poppins', sans-serif;
  font-size: 10pt;
  letter-spacing: 1pt;
  font-weight: bold;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
}
.navbar-brand{
  float: right;
  width: 40%;
  margin-left: 5%;
}
.navbar-nav{
  float: inline-end;
}
#navSplit{
  border-left: 2px solid white;
  height: 30px;
}
.nav-link{
  font-family: 'Poppins', sans-serif;
  font-size: 10pt;
  letter-spacing: 1pt;
  font-weight: bold;
  color: white;
}
.btn-logo-home{
  margin-left: -12%;
}
a.nav-link:hover{color: #C9DB43;}
a.nav-link:visited{
  color: none;
}
#navDaftar{
  color: #C9DB43;
}
.col{
  font-family: 'Poppins', sans-serif;
  color: white;
  margin-top: 45px;
  margin-left: 75px;
  margin-right: 75px;
  letter-spacing: 1pt;
}
.col img{
  width: 425px;
  border-radius: 10px;
  min-width: 200px;
}
.h1{
  font-weight: bold;
}
#pendaki{
    background-color: #C9DB43;
    color: #12372A;
}
#scrolldown{
  margin-top: 50px;
  margin-left: auto;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
} 
#sign-up-btn:hover{
  color: #C9DB43;
  border-color: #C9DB43;
}
#sign-in-btn:hover{
  color: #C9DB43;
  border-color: #C9DB43;
}
.login-content {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 94vh;
  overflow: hidden;
}
  
.forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.signin-signup {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 75%;
    width: 50%;
    transition: 1s 0.7s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
  }

  .login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  .sign-up-form {
    opacity: 0;
    z-index: 1;
  }
  
  .sign-in-form {
    z-index: 2;
  }

  .title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
  }
  
  .input-field {
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 5px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
  }
  
  .input-field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
  }
  
  .input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
  }

  .input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
  }
  
  .social-text {
    padding: 0.7rem 0;
    font-size: 1rem;
  }
  
  .social-media {
    display: flex;
    justify-content: center;
  }
  
  .social-icon {
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.45rem;
    color: #333;
    border-radius: 50%;
    border: 1px solid #333;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s;
  }
  
  .social-icon:hover {
    color: #4481eb;
    border-color: #4481eb;
  }

  .btn-login-modal {
    width: 150px;
    background-color: #C9DB43;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
  }
  .btn-login-google-modal {
    width: 100px;
    background-color: #C9DB43;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0px 0;
    cursor: pointer;
    transition: 0.5s;
  }
  .btn-login-google-modal:hover{
    color: black;
  }
  .btn-login-modal:hover {
    background-color: #93D643;
  }
  .btn-login-google-modal:hover {
    background-color: #93D643;
  }
  .panels-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .login-content:before {
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    background-image: linear-gradient(-45deg, #183F3D 0%, #2CCA72 100%);
    transition: 1.8s ease-in-out;
    border-radius: 50%;
    z-index: 6;
  }
  .image {
    width: 100%;
    transition: transform 1.1s ease-in-out;
    transition-delay: 0.4s;
  }
  .panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 6;
  }
  
  .left-panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
  }
  
  .right-panel {
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
  }
  
  .panel .content {
    color: #fff;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }
  
  .panel h3 {
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
  }
  
  .panel p {
    font-size: 0.95rem;
    padding: 0.7rem 0;
  }
  
  .btn.transparent {
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
  }
  
  .right-panel .image,
  .right-panel .content {
    transform: translateX(800px);
  }

  /* ANIMATION */

.login-content.sign-up-mode:before {
    transform: translate(100%, -50%);
    right: 52%;
  }
  
  .login-content.sign-up-mode .left-panel .image,
  .login-content.sign-up-mode .left-panel .content {
    transform: translateX(-800px);
  }
  
  .login-content.sign-up-mode .signin-signup {
    left: 25%;
  }
  
  .login-content.sign-up-mode .sign-up-form {
    opacity: 1;
    z-index: 2;
  }
  
  .login-content.sign-up-mode .sign-in-form {
    opacity: 0;
    z-index: 1;
  }
  
  .login-content.sign-up-mode .right-panel .image,
  .login-content.sign-up-mode .right-panel .content {
    transform: translateX(0%);
  }
  
  .login-content.sign-up-mode .left-panel {
    pointer-events: none;
  }
  
  .login-content.sign-up-mode .right-panel {
    pointer-events: all;
  }

  @media (max-width: 870px) {
    .login-content {
      min-height: 800px;
      height: 150vh;
    }
    .signin-signup {
      width: 100%;
      top: 95%;
      transform: translate(-50%, -100%);
      transition: 1s 0.8s ease-in-out;
    }
  
    .signin-signup,
    .login-content.sign-up-mode .signin-signup {
      left: 50%;
    }
  
    .panels-container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr 1fr;
    }
  
    .panel {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 2.5rem 8%;
      grid-column: 1 / 2;
    }
  
    .right-panel {
      grid-row: 3 / 4;
    }
  
    .left-panel {
      grid-row: 1 / 2;
    }
  
    .image {
      width: 200px;
      transition: transform 0.9s ease-in-out;
      transition-delay: 0.6s;
    }
  
    .panel .content {
      padding-right: 15%;
      transition: transform 0.9s ease-in-out;
      transition-delay: 0.8s;
    }
  
    .panel h3 {
      font-size: 1.2rem;
    }
  
    .panel p {
      font-size: 0.7rem;
      padding: 0.5rem 0;
    }
  
    .btn.transparent {
      width: 110px;
      height: 35px;
      font-size: 0.7rem;
    }
  
    .login-content:before {
      width: 1500px;
      height: 1500px;
      transform: translateX(-50%);
      left: 30%;
      bottom: 68%;
      right: initial;
      top: initial;
      transition: 2s ease-in-out;
    }
  
    .login-content.sign-up-mode:before {
      transform: translate(-50%, 100%);
      bottom: 32%;
      right: initial;
    }
  
    .login-content.sign-up-mode .left-panel .image,
    .login-content.sign-up-mode .left-panel .content {
      transform: translateY(-300px);
    }
  
    .login-content.sign-up-mode .right-panel .image,
    .login-content.sign-up-mode .right-panel .content {
      transform: translateY(0px);
    }
  
    .right-panel .image,
    .right-panel .content {
      transform: translateY(300px);
    }
  
    .login-content.sign-up-mode .signin-signup {
      top: 5%;
      transform: translate(-50%, 0);
    }
  }
  @media (max-width: 570px) {
    .login-form {
      padding: 0 1.5rem;
    }
  
    .image {
      display: none;
    }
    .panel .content {
      padding: 0.5rem 1rem;
    }
    .login-content {
      padding: 1.5rem;
    }
  
    .login-content:before {
      bottom: 72%;
      left: 50%;
    }
  
    .login-content.sign-up-mode:before {
      bottom: 28%;
      left: 50%;
    }
  } 
.btn-login:hover{
  color: #C9DB43;
  font-size: 13px;
}
/*Body Container Content*/
.container-content{
  margin-top: 5%;
  background-color: white !important;
  border-radius: 20px 20px 20px 20px;
  z-index: 8 !important;
}
.content-ld-pg{
  padding: 10%;
}
.title-daftar-gunung{
  text-align: center;
  color: #12372A;
  padding-bottom: 2%;
}
hr{
  border-width: 5px;
  border-radius: 10px;
  width: 25%;
  margin-left: 38%;
  background-color: #183F3D;
  color: #183F3D;
}
.card{
  margin: 3%;
  margin-top: 20%;
  border-radius: 15px;
  min-width: 30% !important;
  height: 350px !important;
  filter: drop-shadow(0px 24px 45px rgba(0, 0, 0, 0.1));
}
.card:hover{
  -webkit-transform: scale(1.08) !important;
  transform: scale(1.08) !important;
}
.card-text{
  text-align: center;
  font-weight: 600;
  align-items: center;
}

.card-mid{
  margin-top: 10% !important;
  height: 120%;
}

.card-img-top{
  height: 250px;
  border-radius: 15px 15px 0 0;
}
.look-more{
  text-align: center;
}
.look-more a{
  text-decoration: none;
  color: black;
  letter-spacing: 1px;
  font-size: 25px;
  font-weight: 400;
}
.look-more a:hover{
  font-weight: 600;
}
/*End*/
/*footer*/
.footer{
  z-index: -1 !important;
  /* background-color: #247257; */
  padding-bottom: 20%;
  padding-top: 5%;
}
.title-footer{
  text-align: center;
  color: white;
}
.desc-title{
  text-align: center;
  color: white;
}
.email-footer{
  text-align: center;
  color: white;
  font-size: 20px;
  margin-top: 5%;
}
.socmed{
  text-align: center;
  margin-top: 16%;
  color: white;
}
.socmed a{
  margin: 5px;
  font-size: 25px;
  color: white;
}
.socmed a:hover{
  color: #C9DB43;
}
.copyright-footer{
  text-align: center;
  color: white;
  margin-bottom: -25%;
  margin-top: 10%;
  font-style: italic;
}
/*end*/

@media (max-width: 1100px) {
  .card-gunung{
    flex-direction: column;
  }
  .card{
    width: 450px !important;
    height: 450px !important;
    margin-left: auto;
    margin-right: auto;
  }
  .h1{
    font-size: 25px;
  }
  .btn-logo-home{
    width: 100px;
    height: 100px;
    margin-left: -5%;
  }
}
.alert{
  max-width: 380px;
  width: 100%;
  font-size: .7em;
  padding: 0 7px;
  margin: 0;
  color: red;
}

.custom-switch {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -ms-flex-align: center;
  align-items: center;
}

.custom-switch-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-switches-stacked {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.custom-switches-stacked .custom-switch {
  margin-bottom: .5rem;
}

.custom-switch-indicator {
  display: inline-block;
  height: 1.25rem;
  width: 2.25rem;
  background: #e9ecef;
  border-radius: 50px;
  position: relative;
  vertical-align: bottom;
  border: 1px solid rgba(0, 40, 100, 0.12);
  transition: .3s border-color, .3s background-color;
}

.custom-switch-indicator:before {
  content: '';
  position: absolute;
  height: calc(1.25rem - 4px);
  width: calc(1.25rem - 4px);
  top: 1px;
  left: 1px;
  background: #fff;
  border-radius: 50%;
  transition: .3s left;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
}

.custom-switch-input:checked ~ .custom-switch-indicator {
  background: #C9DB43;
}

.custom-switch-input:checked ~ .custom-switch-indicator:before {
  left: calc(1rem + 1px);
}

.custom-switch-input:focus ~ .custom-switch-indicator {
  box-shadow: 0 0 0 2px rgba(70, 127, 207, 0.25);
  border-color: #C9DB43;
}

.custom-switch-description {
  /* margin-left: .5rem; */
  color: #6e7687;
  transition: .3s color;
}

.custom-switch-input:checked ~ .custom-switch-description {
  color: #495057;
}

.split{
  text-align: center;
  margin-top: -25%;
}

/*Dropdown*/
.dropbtn {
  background: none;
  border: none !important;
  color: white;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
  width: 75%;
  min-width: 75px;
  max-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-start: 5%;
}

.dropbtn:hover, .dropbtn:focus {
  background: none;
  color: #C9DB43;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  margin-left: 3%;
  margin-top: 5%;
  min-width: 130px;
  /* overflow: auto; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}
.dropdown-content::before{
  position: absolute;
  z-index: -1;
  content: '';
  height: 20px;
  width: 20px;
  background: #f1f1f1;
  right: 10px;
  top: -10px;
  transform: rotate(45deg);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover{
  background-color: rgb(156, 156, 156);
}
.first-menu:hover{
  border-radius: 10px 10px 0px 0px;
}
.last-menu:hover{
  border-radius: 0px 0px 10px 10px;
}

.show {display: block;}

.container-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1.5rem;
  width: 100%;
}
.hamburger{
  display: none;
}
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item {
  margin-left: 65px;
}

@media(max-width : 768px){
  .btn-logo-home{
    width: 45%;
    height: 45%;
  }
  .container-nav{
    width: 90%;
  }
  .nav-menu{
    z-index: 900;
    position: absolute;
    left: -100%;
    top: 0rem;
    flex-direction: column;
    border-color: #12372A;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 
        0 10px 27px rgba(0, 0, 0, 0.05);
    background-color: #12372A;
    padding-top: 5rem;
    padding-bottom: 20px;
  }
  .nav-item{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
  }
  .nav-menu.active{
    left: 0;
  }
  .dropbtn{
    margin-right: 9%;
    max-width: 50%;
  }
  .hamburger{
    display: block;
    cursor: pointer;
    z-index: 901;
  }
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
  #navSplit{
    visibility: hidden;
    border-left: 0px;
    height: 0px;
  }

  .title-daftar-gunung{
    font-size: 30px;
  }
  .card{
    height: 310px !important;
    width: 250px !important;
    margin-right: auto;
    margin-left: auto;
  }

  .footer{
    z-index: -1 !important;
    /* background-color: #247257; */
    padding-bottom: 20%;
    padding-top: 5%;
  }
  .title-footer{
    text-align: center;
    color: white;
    font-size: 24px;
  }
  .desc-title{
    text-align: center;
    color: white;
    font-size: 14px;
  }
  .email-footer{
    text-align: center;
    color: white;
    font-size: 16px;
    margin-top: 5%;
  }
  .socmed{
    text-align: center;
    margin-top: 16%;
    color: white;
  }
  .socmed h2{
    font-size: 20px;
  }
  .socmed a{
    margin: 5px;
    font-size: 18px;
    color: white;
  }
  .socmed a:hover{
    color: #C9DB43;
  }
  .copyright-footer{
    text-align: center;
    color: white;
    margin-bottom: -25%;
    margin-top: 10%;
    font-style: italic;
    font-size: 16px;
  }
} 
@media(max-width : 500px){
  .bar{
    width: 15px;
    height: 1.8px;
    margin: 3px auto;
  }
  
    .hamburger.active .bar:nth-child(1){
        -webkit-transform: translateY(4.5px) rotate(45deg);
        transform: translateY(4.5px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        -webkit-transform: translateY(-4.5px) rotate(-45deg);
        transform: translateY(-4.5px) rotate(-45deg);
    }
  } 